all: build 

build: build-config.rb src/etcm.lib.sh.erb src/etcm.conf.erb src/etcm.erb docs/man.etcm.1.md
	mkdir build 
	erb -r ./build-config.rb src/etcm.lib.sh.erb > build/etcm.lib.sh
	erb -r ./build-config.rb src/etcm.conf.erb > build/etcm.conf
	erb -r ./build-config.rb src/etcm.erb > build/etcm
	pandoc -s -t man docs/man.etcm.1.md | gzip > build/etcm.1.gz

install:	build/etcm.lib.sh build/etcm.conf build/etcm README.md
	install -d -m 755 \
		<%= @destdir %><%= @docdir %>/etcm/ \
		<%= @destdir %><%= @datadir %>/etcm/  \
		<%= @destdir %><%= @bindir %> \
		<%= @destdir %><%= @sysconfdir %>/etcm/\
		<%= @destdir %><%= @mandir %>/man1/
	install -m 644 build/etcm.lib.sh <%= @destdir %><%= @datadir %>/etcm/ 
	install -m 644 build/etcm.conf src/*-files <%= @destdir %><%= @sysconfdir %>/etcm/
	install -m 644 README.md LICENSE <%= @destdir %><%= @docdir %>/etcm/
	install -m 755 build/etcm <%= @destdir %><%= @bindir %>/
	install -m 644 build/etcm.1.gz <%= @destdir %><%= @mandir %>/man1/

clean:
	rm -rf build
