#!/bin/bash

source <%= @datadir %>/etcm/etcm.lib.sh


etcm_command=$1
etcm_file_or_dir_path="${2:-.}"
test -e $etcm_file_or_dir_path || echo "Warning: $etcm_file_or_dir_path does not exist"
etcm_realpath=$(realpath -L $etcm_file_or_dir_path)
if [[ "$etcm_realpath" == "/" || "$etcm_realpath" == "/etc" ]]
  then
    die "Trying to mirror $etcm_realpath into /etc is really stupid. Don't do it." 3
fi


case "$etcm_command" in
  add)
    etcm_add $etcm_realpath
    ;;
  ci)
    etcm_ci $etcm_realpath
    ;;
  co)
    etcm_co $etcm_realpath
    ;;
  diff)
    etcm_diff $etcm_realpath
    ;;
  info)
    etcm_info
    ;;
  ls)
    etcm_ls
    ;;
  rm)
    etcm_rm $etcm_realpath
    ;;
  sync)
    etcm_sync
    ;;  
  sync-auto)
    etcm_rpm_config_sync
  ;;
  sync-manual)
    etcm_manual_sync
  ;;
  track)
    etcm_track $etcm_realpath
    ;;
  untrack)
    etcm_untrack $etcm_realpath
    ;;
  *)
    usage
    ;;
esac

# vim: syntax=sh
