ETCM_ROOT=<%= @sysconfdir %>/etcm
ETCM_CONFIG=<%= @sysconfdir %>/etcm/opt/local/etcm.conf

MIRRORED_FILE_LIST=<%= @sysconfdir %>/etcm/mirrored-files
INCLUDED_FILE_LIST=<%= @sysconfdir %>/etcm/included-files
EXCLUDED_FILE_LIST=<%= @sysconfdir %>/etcm/excluded-files

MIRROR_ROOT=<%= @sysconfdir %>/etcm/mirror-root/

MAXIMUM_SYNC_KB=102400

# vim: syntax=sh
