#!/bin/bash
#Source the configuration file
source <%= @sysconfdir %>/etcm/etcm.conf

ETCM_ROOT=${ETCM_ROOT:-<%= @sysconfdir %>/etcm/}
MIRRORED_FILE_LIST=${MIRRORED_FILE_LIST:-$ETCM_ROOT/mirrored-files}
INCLUDED_FILE_LIST=${INCLUDED_FILE_LIST:-$ETCM_ROOT/included-files}
EXCLUDED_FILE_LIST=${EXCLUDED_FILE_LIST:-$ETCM_ROOT/excluded-files}

MIRROR_ROOT=${MIRROR_ROOT:-$ETCM_ROOT/mirror-root/}

MAXIMUM_SYNC_KB=${MAXIMUM_SYNC_KB:-102400}
RSYNC_OPTS=${RSYNC_OPTS:-"--delete --include-from=$INCLUDED_FILE_LIST --exclude-from=$EXCLUDED_FILE_LIST"}

function die() {
  local message="Error: ${1:-no message specified}"
  local status="${2:-1}"
  echo $message
  exit $status
}

function usage() {
  die "incorrect usage" 2
}

# This takes the size of the proposed sync in KB as an argument
function etcm_space_test(){
  local sync_size=$1
  local available_space=$(df -k | egrep ' /$' | awk '{ print $4}')

  #Check if it's larger than the limit
  if test $sync_size -gt $MAXIMUM_SYNC_KB
  then
    die "sync size is greater than maximum configured limit." 4
  fi

  #Check if the available space is greater than double the sync_size.
  if test $available_space -gt $(($sync_size * 2))
  then
    return 0
  else
    echo "Warning: insufficient space for mirroring external files."
    return 1
  fi
}

function etcm_init_mirror_root(){
  mkdir -p $MIRROR_ROOT
}

function etcm_ls(){
  local rpm_files_list=$(rpm -qca | grep -v "contains no files" | grep -v "/etc/" | sort | uniq)
  local mirrored_files=$(cat $MIRRORED_FILE_LIST)
  echo "$rpm_files_list $mirrored_files" | tr ' ' '\n' | sort | uniq | rsync --files-from=- -anrAHX $RSYNC_OPTS --list-only  / /tmp/$RANDOM/ 2>/dev/null | awk '{ print "/"$5}'
}

function etcm_info(){
  etcm_ls | rsync --files-from=- -avnAHXh  --stats $RSYNC_OPTS --list-only  / /tmp/$RANDOM/ 2>/dev/null | grep -v "^building " | grep -v "^sent " | grep -v "^total "
}

function etcm_track(){
  # Add a new file to the list by reading the list into memory, extending, sorting, and rewriting it.
  local mirrored_files=$(cat $MIRRORED_FILE_LIST)
  mirrored_files="$mirrored_files $1"
  echo $mirrored_files |tr ' ' '\n' | sort | uniq > $MIRRORED_FILE_LIST
}

function etcm_untrack(){
  # Add a new file to the list by reading the list into memory, extending, sorting, and rewriting it.
  local mirrored_files=$(cat $MIRRORED_FILE_LIST)
  echo $mirrored_files |tr ' ' '\n' | sort | uniq | grep -v $1 > $MIRRORED_FILE_LIST
}


function etcm_ci(){

  local sync_size=$(($(echo $1 | rsync -arAHXn --stats --files-from=- $RSYNC_OPTS / $MIRROR_ROOT | grep "Total file size" | cut -f4 -d ' ' | tr -d ',')/1024))

  if etcm_space_test $sync_size
  then
    echo $1 | rsync -axrAHX --delete --files-from=- / $MIRROR_ROOT
  fi
}

function etcm_co(){
  echo "$MIRROR_ROOT/$1" | rsync -arAHX --files-from=- $MIRROR_ROOT /$1 
}

function etcm_diff(){
  diff --suppress-common-lines -u4 $MIRROR_ROOT/$1 $1
}

function etcm_add() {
  etcm_track $1
  etcm_ci $1
}

function etcm_rm() {
  local parent_dir=$(dirname $MIRROR_ROOT/$1)
  etcm_untrack $1
  rm -rf $MIRROR_ROOT/$1
  
  rmdir --ignore-fail-on-non-empty -p $parent_dir
  etcm_init_mirror_root
}

function etcm_manual_sync(){
  local sync_size=$(($(rsync --files-from=$MIRRORED_FILE_LIST -anrAHX  --stats $RSYNC_OPTS  / $MIRROR_ROOT 2>/dev/null | grep "Total file size" | cut -f4 -d ' ' | tr -d ',')/1024))


  if etcm_space_test $sync_size
  then
    rsync --files-from=$MIRRORED_FILE_LIST -arAHX $RSYNC_OPTS  / $MIRROR_ROOT
  fi
}

function etcm_rpm_config_sync(){

  local rpm_files_list=$(rpm -qca | grep -v "contains no files" | grep -v "/etc/" | sort | uniq)
  local sync_size=$(($(echo $rpm_files_list | tr ' ' '\n' | rsync --files-from=- -anrAHX --stats --delete --include-from=$INCLUDED_FILE_LIST --exclude-from=$EXCLUDED_FILE_LIST  / $MIRROR_ROOT 2>/dev/null | grep "Total file size" | cut -f4 -d ' ' | tr -d ',')/1024))

  if etcm_space_test $sync_size
  then
    echo $rpm_files_list | tr ' ' '\n' | rsync --files-from=- -arAHX $RSYNC_OPTS  / $MIRROR_ROOT 2>/dev/null
  fi
}

function etcm_sync(){
  etcm_manual_sync
  etcm_rpm_config_sync
}

# vim: syntax=sh
